.whiteBox {
  background-color: white;
  height: 37%;
  width: 45%;
  position: absolute;
  border-radius: 15px;
  top: 40%;
  left: 40%;
}
.banner {
  font-size: 52px;
  font-family: Oswald, sans-serif;
  color: rgb(4, 70, 4);
  margin-bottom: 3%;
}
.smallerMessage p {
  font-family: cursive;
  font-size: 16px;
  padding-left: 20px;
  color: rgb(4, 70, 4);
}
