.meals {
  text-align: left;
  font-size: 20px;
  margin-bottom: 15%;
  font-family: sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 1.5%;
  white-space: nowrap;
  /* this makes the text stay in one line  */
}
.meals:hover h4 {
  /* color: red;
  text-decoration-line: underline;
  background-color: lightgrey; */
  background: #f2f2f2;
  color: #111;
  border-style: solid;
  border-color: #111;
  border-width: 2px;
  border-radius: 5px;
  transition: all 0.5s ease;
}
/* .sideBar {
  background-color: #f5f5f5;
} */
/* .sideBar span {
  position: relative;
  display: flex;
  padding-bottom: 10%;
  text-align: left;
  margin-left: 15%;
  color: black;
  text-decoration: none;
  padding-top: 5%;
}
.customOrder {
  border-radius: 45px;
  border-color: red;
  color: red;
  background-color: #f5f5f5;
  font-size: 20px;
  margin-top: 3%;
  padding: 8%;
  margin-top: 7%;
  text-transform: uppercase;
  cursor: pointer;
} */
/* .customOrder:hover {
  background: #f2f2f2;
  color: #111;
  border-style: solid;
  border-color: #111;
  border-width: 2px;
  border-radius: 5px;
  transition: all 0.5s ease;
} */

/* .container {
  height: 100%;
  width: 80%;
  background-color: #ddd;
} */
