.Content {
  padding-top: 5%;
  margin-left: 1%;
  /* margin-right: 2%; */
  height: 500px;
  width: 1800px;
  overflow: auto;
  background-color: #ddd;
  /* float: right; */
  /* position: relative; */
}
.fbContent {
  padding-top: 5%;
  height: 500px;
  width: 100%;
  overflow: auto;
  margin-bottom: -1vh;
  background-color: #faf7f7;
}
