.Content {
  padding-top: 5%;
  height: 100%;
  width: 10%;
  overflow: auto;
  background-color: #ddd;
  /* float: right; */
  position: relative;
}
.bg {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlDjiAYPUcHjKBvQUKUmOvBdM4QBglJLhf47w2etDdDOIKUvCTFA');
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}
.fbContent {
  padding-top: 5%;
  height: 500px;
  width: 100%;
  overflow: auto;
  margin-bottom: -1vh;
  background-color: #faf7f7;
}
/* STYLING CDetails Component */
.CDContainer {
  display: flex;
  flex-direction: row;
  margin-top: 3.5%;
  margin-bottom: 5%;
  margin-left: 9%;
  margin-right: 9%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.proteinStyle {
  height: 40%;
  width: 100%;
  font-size: 10px;
}
.insideProtein {
  width: 700px;
  height: 100%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding-bottom: 20%;
  font-size: 1px;
}
