.secondPartBanner {
  font-size: 45px;
  font-family: serif;
  color: black;
  text-transform: capitalize;
  margin-top: 6%;
}

.subTitle {
  font-size: 25px;
  margin-left: 37%;
  font-style: oblique;
}
.getStartBtn {
  text-decoration: none;
  color: white;
}
.button:hover {
  /* background-color: red;
  color: white; */
  border-color: yellow;
}

.plan {
  margin-left: 9%;
  font-size: 35px;
}
.plans {
  margin-left: 3%;

  /* font-size: 15px; */
}
.secondText {
  margin-left: 6%;
  padding-bottom: 5%;
}

.shop {
  position: absolute;
  top: 164%;
  left: 26.5%;
  font-size: 35px;
}

.shops {
  position: absolute;
  top: 178.8%;
  left: 28%;
}
.shopping {
  position: absolute;
  top: 181%;
  left: 33%;
  padding-bottom: 10%;
}

.cook {
  position: absolute;
  top: 164%;
  left: 51%;
  font-size: 35px;
}

.cooks {
  position: absolute;
  top: 178.8%;
  left: 53%;
}
.cooking {
  position: absolute;
  top: 181%;
  left: 53%;
}
.delivery {
  position: absolute;
  top: 164%;
  left: 76%;
  font-size: 35px;
}
.deliverys {
  position: absolute;
  top: 178.8%;
  left: 76%;
}

.deliverying {
  position: absolute;
  top: 181%;
  left: 78%;
}
