.contact {
  text-align: center;
  text-transform: uppercase;
}
.text {
  text-align: center;
}
.bothBoxes {
  display: flex;
}
.box1 {
  /* margin-left: 13%; */
  align-items: center;
  width: 20%;
  height: 30%;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 300px;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
.box2 {
  align-items: center;
  width: 20%;
  height: 30%;
  /* margin-right: 0px auto; */
  margin-bottom: 300px;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
