.search {
  padding-right: 10px;
  width: 60%;
}
.topInput {
  margin-left: 1%;
  height: 20px;
  width: 150px;
}
.submitButton {
  height: 30px;
  width: 65px;
  color: white;
  background-color: red;
  border-color: black;
  cursor: pointer;
  font-size: 15px;
  padding: 5px;
  padding-right: 10px;
}
