.menuStyle {
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
  color: 'black';
}
.menuStyle:hover {
  color: red;
  text-decoration-line: underline;
}

.centerMeal:not(.nohover) {
  border: 2px solid gray;
}
