.menuStyle {
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 10px;
  color: black;
}
.menuStyle:hover {
  color: rgb(23, 24, 22);
  text-decoration-line: underline;
}

.centerMeal:not(.nohover) {
  border: 2px solid gainsboro;
}
#cart-badge {
  right: 5.5%;
  bottom: 30%;
  position: relative;
}
